/* common-cacr-override.css */
.v2 #contentBody {
	background-image:none !important;
	background-color:#fff !important;
}

.v2 .red {
	color: #E3132C;
}

.v2 .primaryButton {
	background-color: #E3132C;
}

.v2 .primaryButton:hover {
	background-color: #CB1127;
}

.v2 p {
	font-size: 14px;
}

.v2 .regularText
 {
	font-size: 14px;
}


.v2 #backtoNavPage{
	font-size: 14px!important;
}

.v2 .backToNewsLink{
	font-size: 14px!important;

}

.v2 .landingboxcontent {
	background-color: #f6f6f7;
	height: 225px;
}

.v2 .landingboximage {
	margin-left: -22px;
	width: 312px;
}

.v2 .landingboximage img {
	width: 334px;
}

.v2 .mainComponentDiv ul{
	font-size: 14px;
}

.v2 .mainComponentDiv ol{
	font-size: 14px;
}

.v2 .landingboxtext {
	background-color: #f6f6f7;
	font-size: 14px;
}

.v2 h1{
    font-weight: 300;
    font-size: 45px;
    margin: 0;
    color: #333333;
    text-align: left;
}


.v2 h6{
	font-size: 14px !important;
}

