
/* login-cacr-override.css */
.v2 .login-alternate {
    background-color: #F6F6F7;
  }

.v2 .corpLoginHeader {
    color: #0B1F66;
  }

.v2 .corp-inactiveButton {
    background: #707070;
    font-size: 16px;
  }

.v2 .corp-activeButton {
   font-size: 16px;
  }

.v2 .corp-buttonDiv {
   padding-top: 10px;
   padding-bottom: 10px;
  }

.v2 .corp-primaryButton {
    background-image: linear-gradient(#E3132C,#CB1127); /*general*/
	background: -webkit-linear-gradient(#E3132C,#CB1127); /*for Safari*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E3132C', endColorstr='#CB1127',GradientType=0 ); /*for IE*/
   /* background:  -webkit-linear-gradient(#E3132C,#CB1127)*/
  }

.v2 .remember-me-style {
    color: #333333;
  }

.v2 .login-label-style {
    color: #333333;
  }

.v2 .corpFWLink {
    color: #0253A4;
  }

.v2 .corpFWLink:hover {
    color: #1C7BD9;
  }

.v2 .darkBGText {
    color: #333333;
}

.v2 .clearfix.corp-loginMessageDiv {
    height: auto !important;
}
