
/* login-cacr-override.css */
.v2 .login-alternate {
    background-color: #F6F6F7;
  }

.v2 .corpLoginHeader {
    color: #0B1F66;
  }

.v2 .corpLoginContent {
    height: auto;
}

.v2 .corp-inactiveButton {
    background: #707070;
    font-size: 16px;
  }

.v2 .corp-activeButton {
   font-size: 16px;
  }

.v2 .corp-buttonDiv {
   padding-top: 10px;
   padding-bottom: 10px;
  }

.v2 .corp-primaryButton {
    background-color: #E3132c;
  }

.v2 .corp-primaryButton:hover{
    background-color: #CB1127;
  }

.v2 .remember-me-style {
    color: #333333;
    font-size: 1.4em;
  }

.v2 .login-label-style {
    color: #333333;
    font-size: 1.4em;
  }

.v2 .corpFWLink {
    color: #0253A4;
  }

.v2 .corpFWLink:hover {
    color: #1C7BD9;
  }

.v2 .darkBGText {
    color: #333333;
}

.v2 .clearfix.corp-loginMessageDiv {
    height: auto !important;
}

.v2 .linkStyle {
    font-size: 1.4em;
}

.v2 input{
    font-size: 1.4em;
}
	
