body {
  background-color: #fff;
  color: #333;
  overflow: hidden;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wheelContainer {
  font-size: 18px;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* .wheelText tspan{
  text-anchor: start;
} */

.wheelSVG {
  position: absolute;
  /* width:100%;
  height:100%; */
  visibility: hidden;
  overflow: visible;
}

.peg {
  visibility: hidden;
}

.wheelOutline, .valueContainer, .toast, .centerCircle {
  pointer-events: none;
}

.wheelText {
  pointer-events: none;
  /* font-size:28px; */
  /* fill:red; */
  text-anchor: middle;
  font-family: 'Fjalla One', Arial, sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

.toast {
  position: absolute;
  background-color: #468c37;
  border-radius: 12px;
  opacity: 0;
  text-align: center;
}

.toast p {
  clear: both;
  font-family: 'Fjalla One', Arial, sand-serif;
  margin: 23px;
  font-size: 30px;
  color: #ededed;
  letter-spacing: -0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 32px;
  -webkit-transition: font-size .2s ease;
  transition: font-size .2s ease;
  -webkit-transition: line-height .2s ease;
  transition: line-height .2s ease;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 480px) {
  .toast p, .toast span {
    font-size: 18px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .toast p, .toast span {
    font-size: 38px;
    line-height: 38px;
  }
}

@media only screen and (min-width: 801px) {
  .toast p, .toast span {
    font-size: 35px;
    line-height: 60px;
  }
}

@media only screen and (max-height: 480px) {
  .toast p, .toast span {
    font-size: 33px;
    line-height: 35px;
  }
}


.trivia-container {
  margin: 40px auto;
  position: relative;
  width: 600px;
}

.trivia-question {
  margin-bottom: 25px;
}

.trivia-answer {
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #f6f6f7;
}

.trivia-answer-label {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.trivia-answer-radio {
  display: block;
  position: absolute;
  border: 5px solid #333;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.trivia-answer:hover .trivia-answer-radio {
  border: 5px solid #000;
}

.trivia-answer-radio::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.trivia-answer-input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.trivia-answer-input[type=radio]:checked ~ .trivia-answer-radio {
  border: 5px solid #1c7bd9;
}

.trivia-answer-input[type=radio]:checked ~ .trivia-answer-radio::before{
  background: #1c7bd9;
}

.trivia-answer-input[type=radio]:checked ~ .trivia-answer-label{
  color: #1c7bd9;
}

.trivia-button {
  clear: both;
  text-align: center;
  padding-top: 20px;
}

.btn {
  border: 0 none!important;
  cursor: pointer;
  font-family: 'Open Sans','Trebuchet MS',Verdana,Tahoma,'MS UI Gothic','MS PMincho',sans-serif;
  font-size: 16px;
  padding: 15px 20px;
}
