/* common-cacr-override.css */
.v2 #contentBody {
	background-image:none !important;
	background-color:#fff !important;	
}

.v2 .tabFont{
	font-size: 14px;
}

.v2 .regularText {
	font-size: 14px;	
}

.v2 h1{
    font-weight: 300;
    font-size: 45px;
    margin: 0;
    color: #333333;
    text-align: left;

}

.v2 p{
	font-size: 14px;
}

.v2 .mainComponentDiv ul {
    font-size: 14px;

}

.v2 .mainComponentDiv ol{
	font-size: 14px;
}

.v2 h6{
	font-size: 14px !important;
}

.v2 .delta-blue-background-color{
	background-color: #22659c;
}

.v2 #blueComponentVerticalMainDiv{
background-color: #22659c;
}

.v2 #backtoNavPage{
	font-size: 14px!important;
}

.v2 .backToNewsLink{
	font-size: 14px!important;
}

.v2 .mainComponentDiv ol{
	font-size: 14px;
}
