/* common-cacr-override.css */
.v2 #contentBody {
	background-image:none !important;
	background-color:#fff !important;	
}

.v2 .regularText {
	font-size: 14px;	
}

.v2 h1{
	font-size: 45px;
}

.v2 p{
	font-size: 14px;
}

.v2 .mainComponentDiv ul {
    font-size: 14px;
}
