/* common-cacr-override.css */
.v2 #contentBody {
	background-image:none !important;
	background-color:#fff !important;	
}

.v2 .regularText {
	font-size: 14px;	
}

.v2 h1{
    font-weight: 300;
    font-size: 45px;
    margin: 0;
    color: #333333;
    text-align: center;
}

.v2 h1:before {
    margin: 16px 20px 16px 0;
}


.v2 h1:before, .v2 h1:after {
    content: "";
    display: inline-block;
    background-color: #333333;
    width: 10%;
    height: 2px;
}

.v2 p{
	font-size: 14px;
}

.v2 .mainComponentDiv ul {
    font-size: 14px;
}
