/* components-cacr-override.css */
.v2 .exceptionPolicyBlock {
  background-color: #e3132c;
  border-color: #e3132c;
   font-size:14px!important;
height: 20px;
}

.v2 .whiteBackground {
  /*  background-color: #f6f6f7; This is causing some problems throughout the site. */
  background-color: transparent;
}

.v2 .accordionFont {
    font-size: 14px!important;
}

.v2 .tabFont{
  font-size:14px!important;
}
