.v2 #corp-footer hr {
	color: #ffffff;
	height: 1px;
}
.v2 .corp-footerContent {
	font-size: 1.4em;
	color: #FFFFFF;
}
.v2 a.corp-footerLinks:hover {
	color: #a9dbff;
}
.v2 a.corp-footerLinks {
	color: #87cdff;
}
.v2 #corp-footer {
	background-color: #123c64;
}
.v2 .corp-footerImages {
        padding-right: 60px;
}
.v2 .padding-right-16 {
        padding-right: 30px;
}

/*.v2 .corp-footerImageDiv a:last-child >img {
    padding-right: 0px;
}*/
