.v2 #mainHeader {
	background-color: #174873;
}
.v2 #header {
	background-color: #174873;
}
.v2 #deltaLinkSubHeader {
	background-color: #174873;
	border-top: 1px solid #c7c7c7;
}
.v2 #menu a {
	color: #FFF;
}
.v2 .corp-switchLangActiveText {
	font-size: 1.1em;
	color: #fff;
}
.v2 .corp-switchLangActiveText:hover {
	color: #fff !important;
}
.v2 .primaryButton {
	background-color: #E3132C;
	border-width: 1px;
	border-color: #991933;
}
.v2 .verticalLoginHeader {
	background-color: #FFFFFF;
}
.v2 h4.verticalTitle {
	color: #0B1F66;
}
.v2 .corp-switchLangLinkText {
	color: #92caf9;
}
.v2 .corp-switchLangLinkText:hover {
	color: #A9DBFF !important;
}
.v2 .corp-globeLogo:hover {
	color: #A9DBFF !important;
}
.v2 .login {
	color: #92caf9;
}
.v2 .verticalLoginContent {
	background-color: #F6F6F6;
}
.v2 .logoutLogo {
	background-image: url("/etc/designs/corporate/images/logout.png");
}
.v2 .myProfileLogo {
	background-image: url("/etc/designs/corporate/images/profile.png");
}
.v2 #gotoLoginAltBtnID {
	color: #92caf9;
}
.v2 #gotoLoginAltBtnID:hover {
	color: #A9DBFF;
}
.v2 .corp-headerUserNameLabel {
	color:#fff;	
}
.v2 #account_menu > li {
	background-color:#fff;
}
.v2 #account_menu > li a , .v2 #account_menu > li a:hover {
	color:#0B1F66;
}