.v2 #mainHeader {
	background-color: #174873;
}
.v2 #header {
	background-color: #174873;
}
.v2 #deltaLinkSubHeader {
	background-color: #174873;
	border-top: 1px solid #c7c7c7;
}
.v2 .primaryButton {
	background-color: #E3132C;
	border-width: 1px;
	border-color: #991933;
}
.v2 .verticalLoginHeader {
	background-color: #FFFFFF;
}
.v2 h4.verticalTitle {
	color: #0B1F66;
}
.v2 .corp-switchLangActiveText {
	font-size: 1.4em;
	color: #fff;
}
.v2 .corp-switchLangActiveText:hover {
	color: #fff !important;
}
.v2 .corp-switchLangLinkText {
	font-size:1.4em;
	color: #87cdff;
}
.v2 .corp-switchLangLinkText:hover {
	color: #A9DBFF !important;
}
.v2 .corp-globeLogo:hover {
	color: #A9DBFF !important;
}
.v2 .corp-headerCorpNameLabel {
	color: #fff !important;
}
.v2 .corp-headerUserNameLabel {
	color: #fff !important;
}
.v2 .login {
	color: #87cdff;
}
.v2 .verticalLoginContent {
	background-color: #F6F6F6;
}
.v2 .logoutLogo, .corp-logoutLogo {
	background-image: url("http://dlkd3.delta.com:17021/etc/designs/corporate/images/logout.png");
}
.v2 .myProfileLogo, .corp-myProfileLogo {
	background-image: url("http://dlkd3.delta.com:17021/etc/designs/corporate/images/profile.png");
}
.v2 .logoutLogo:hover, .corp-logoutLogo:hover {
	background-image: url("http://dlkd3.delta.com:17021/etc/designs/corporate/images/logout_hover.png");
	background-position: 0 0 !important;
}
.v2 .myProfileLogo:hover, .corp-myProfileLogo:hover {
	background-image: url("http://dlkd3.delta.com:17021/etc/designs/corporate/images/profile_hover.png");
	background-position: 0 0 !important;
}
.v2 #gotoLoginAltBtnID {
	font-size:1.4em;
	color: #87cdff;
}
.v2 #gotoLoginAltBtnID:hover {
	color: #A9DBFF;
}
.v2 #report_menu {
	box-shadow: none !important;
	top:18px;
	left:-26px;
	margin-left:10px !important;
}
.v2 #menu a {
	font-size:16px;
	font-weight:600;
	color:#fff;
}
.v2 #menu li.active, .v2 #menu li.active a, .v2 #account_menu li.active {
  background:#fff !important;
	color: #0B1F66 !important;
}
v2 .loginMessageDiv {
    height: auto!important;
}
.v2 .label , .v2 .linkStyle ,.v2 input {
    font-size: 16px;
}

/* default dashboard tabs */
.v2 #account_menu > li a {
	background:none !important;
}
.v2 #account_menu > li {
	background-color: #22659c;
	border: 1px solid #174873 !important;
}
.v2 #account_menu > li:hover {
	background-color: #2a76ab !important;
}
.v2 #account_menu > li a {
	color: #fff;
}




/* active dashboard tabs */
.v2 #account_menu > li.active a {
	background:none !important;
}
.v2 #account_menu > li.active {
	background-color: #fff;
	border: 1px solid #c7c7c7 !important;
}
.v2 #account_menu > li.active:hover {
	background-color: #f6f6f7 !important;
}
.v2 #account_menu > li.active a {
	color: #0B1F66;
}


.v2 #account_menu > li {
	padding:none !important;
}
.v2 #account_menu > li a {
	padding:10px 17px 0px 17px;
	font-size:16px;
}
.v2 #account_menu .navigationLink {
	height:48px;
	font-size:1.4em;
	font-weight:600;
}
.v2 #account_menu .navigationLink li {
	border:none !important;
}

.v2 #account_menu .icon-down {
	padding-bottom:5px;
}
.v2 .dashboardDropdown {
	color: #0B1F66 !important;
}
.v2 .dashboard-dropdown-item {
	background-color: #fff !important;
	border: 1px solid #c7c7c7 !important;
	padding:0px !important;
}
.v2 .dashboard-dropdown-item hover {
	background-color: #f6f6f7 !important;
}
.v2 .dashboard-dropdown-item-level-2 {
	padding:0px !important;
	min-width:240px;
	margin-left:-33px !important;
	border:1px solid #f1f1f1;
	border-top:none;
}
.v2 .dashboard-dropdown-item-level-2:hover {
	background-color: #f6f6f7 !important
}
.v2 .dashboard-dropdown-item-level-2 a {
	display:block;
	background: none !important;
	border: none !important;
	font-size:15px !important;
	line-height:17px;
	padding-top:5px !important;
	padding-bottom:5px !important;
	color:#0b1f66 !important;
}


/* Category Pages */
.v2 .darkGrey2 {
	color:#0b1f66;
}
.v2 .linkListText {
	font-size:14px;
}
