/* common-cacr-override.css */
.v2 .delta-blue-background-color{
    background-color: #22659c;
}

.v2 #footer-id {
    background: #123c64!important;
}

.v2 #main-header-id, .v2 #header{
    background: #174873;
}
