/* login-cacr-override.css */
.v2 .loginContent, .v2 .loginContent1{
   background-color: #f6f6f7;
}

.v2 .loginContent {
   height: auto!important;
}

.v2 .loginBtn {
   font-size: 16px !important;
}

.v2 .loginHeader h4{
   font-size: 16px !important;
}

.v2 #loginContent .label, .v2 #loginContent .linkStyle, .v2 #loginContent input {
    font-size: 14px !important;
}

.v2 .loginContent1 .darkBGText{
   color: #333333 !important;
}

.v2 .horizantalloginDiv{
   background-color: #f6f6f7;
}
.v2 .horizantalErrorMsg {
    background-color: #e3132c;
}
.v2 #loginBtnID {
    margin-top: 16px!important;
}

.v2 .forgotUserAccountLink {
    margin-right: 186px;
}

.v2 .horizantalErrorBox{
   margin-left:0px
}
