/* login-cacr-override.css */
.v2 .loginContent{
   background-color: #f6f6f7;
}

.v2 .loginContent {
   height: auto!important;
}

.v2 .loginBtn {
   font-size: 16px !important;
}

.v2 .loginHeader h4{
   font-size: 16px !important;
}
