/* home-cacr-override.css */
.v2 .streamComponentButtonDiv, .v2 .streamComponentButton {
	height:45px;
}

.v2 .streamComponentContentDiv {
	background-color: #f6f6f7;
}

.v2 .buttonDiv{
	padding: 14px 20px 14px 20px;
}

.v2 .loadMoreDiv {
	background-color: rgba(0,0,0,.7);
}

.v2 .newsPaneltdLeft {
	font-size:14px;
}

.v2 .newsPaneltdRight {
	font-size:14px;
}

.v2 .categoryTitle span {
    background-color: #f6f6f7;
}

.v2 #streamComponent {
 	margin-left: auto;
	margin-right: auto;
	width: 960px;
	margin-bottom: 30px;
}
